body {
  background-color: gray;
}
h1 {
  color: yellow;
}
p {
  color: white;
}
a:link {
  color: blue;
}
a:visited {
  color: purple;
}
div {
 color: white;
}
tr {
 color: white;
}
tr {
 color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
