body {
  background-color: gray;
}
h1 {
  color: yellow;
}
p {
  color: white;
}
a:link {
  color: blue;
}
a:visited {
  color: purple;
}
div {
 color: white;
}
tr {
 color: white;
}
tr {
 color: white;
}
