*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}
h1 {
  color: blue;
}
p {
	color: black;
	margin: 0;
	padding: 0;
}
a:link {
  color: blue;
}
a:visited {
  color: purple;
}
.jumbotron {
  margin-bottom:0px;
}
/* .navbar {
  padding: 0px;
  margin: 0px;
  padding-top: 0px;
  margin-bottom:0px;
} */